<h1>Programming Concepts</h1>

<h3>Comparison Operators</h3>
<p>
    2 is greater than 1 - (2>3) - {{ compare }}
</p>
<p> 2 is not equal to 1 - (2!=1) - {{ notEqual }}</p>

<h4>Simple Equal to</h4>
<p>
    '2' is equal to 2 - ('2' == 2) - {{ equal}}
</p>

<h4>Strict Equal to</h4>
<p>'2' is equal to 2 - ('2' === 2) - {{ strictEqual }}</p>

<h4>Strict Not Equal to</h4>
<p>'2' is not strict equal to 2 - ('2' !== 2) - {{ notStrictEqualTo }}</p>

<h3>Logical Operators</h3>

<h4>AND &&</h4>
<p>Visa Office - Passport and License required - (passport && license) - {{ visaOffice }}</p>

<h4>OR (||)</h4>
<p>Voting Center - Either Passport or License required - (passport || license) - {{ votingCenter}}</p>

<h4>NOT ( ! )</h4>
<p [hidden]="!show">Hello! I am being displayed.</p>

<h3>Assignment Operator</h3>
<p>a+=b?</p> (what does += mean in assignment)