
ul.tasks{
    list-style: none;

    li.task{
        margin: 5px 0;
        border-bottom: 1px solid lightgray;
        cursor: pointer;
         label{
            cursor: pointer;
            flex-grow: 1;
         }
    }

    .complete{
        text-decoration: line-through;
        color: lightgray;
        font-style: italic;
    }
}